
footer
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  text-align: right;
  background: #c91b7f;

  a
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;

    &:hover
      text-decoration: underline;
