// 1E Variables

$primary = #075890
$secondary = #2884c4
$highlight = #DCEAF4,
$danger = #AA0000
$warning = #E1BE00
$success = #7ED321
$hover = #327AC4,
$selected = #E6EEF4,
$back = #ffffff,
$fore = #333E50
$light = #FAFAFA
$mid = #E6E6E6
$dark = #AAAAAA
$disabled = #E6E6E6
$active = #A9CEE7

// Paddings and margins are multiple of $spacer
$spacer = 8px
$font-size = 14px

// Font family is Open Sans Regular
$font-family = "OpenSans"